---
---
<nav role="tablist">
    <button role="tab" hx-get="/tabs/tab2" aria-selected="false">Tab 1</button>
    <button role="tab" hx-get="/tabs/tab2" aria-selected="false">Tab 2</button>
    <button role="tab" hx-get="/tabs/tab3" aria-selected="true">Tab 3</button>
</nav>
<article role="tabpanel">
Aute chia marfa echo park tote bag hammock mollit artisan listicle direct trade. Raw denim flexitarian eu godard etsy. Poke tbh la croix put a bird on it fixie polaroid aute cred air plant four loko gastropub swag non brunch. Iceland fanny pack tumeric magna activated charcoal bitters palo santo laboris quis consectetur cupidatat portland aliquip venmo.
</article>
