---
---
<nav class="w-full mt-3 bg-gray-50 sm:static hidden sm:block sm:w-auto sm:bg-none">
    <a class="inline-block py-4 ph-5" href="/">Home</a>
    <a class="inline-block py-4 ph-5" href="/about">About</a>
    <a class="inline-block py-4 ph-5" href="/blog">Blog</a>
    <a class="inline-block py-4 ph-5" href="/tags">Tags</a>
</nav>

